<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
  <appSettings>
    <!--заголовок программы-->
    <add key="appTitle" value="Склад"/>
    
    <!--путь к директории приложении-->
    <add key="jsonPath" value="C:\Temp\warehouse-app"></add>
    
    <!--интервал времени в секундах, через который данные должны актуализироваться-->
    <add key="cacheExpiration" value="10"></add>

    <!--наценка в % -->
    <add key="overage" value="20"></add>

    <add key="units" value="шт.,кг,гр.,короб.,ящ."></add>
  </appSettings>
</configuration>